{% set title="Toti ghizii" %}
{% extends "adminLayout.html" %}
{% block head %}
{{parent()}}
{% endblock %}
{% block topContainer %}
{{parent()}}
{% endblock %}
{% block middleContainer %}
<div class="middle-cointainer">
    <form action="/admin/guide/add/" method="post">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12 header-coll"></div>
            <div class="col-md-6 col-sm-2 col-xs-12 header-coll">
                <div class="form-group">
                    <label for="firstName">Prenume</label>
                    <input type="text" class="form-control" id="firstName" name="guideFirstName" placeholder="Prenume" required>
                </div>
                <div class="form-group">
                    <label for="secondName">Nume</label>
                    <input type="text" class="form-control" id="secondName" name="guideSecondName" placeholder="Nume" required>
                </div>
                <div class="form-group">
                    <label for="city">Oras</label>
                    <input type="text" class="form-control" id="city" name="guideCity" placeholder="Oras" required>
                </div>
                <div class="form-group">
                    <label for="experience">Ani de experienta</label>
                    <input type="text" class="form-control" id="experience" name="guideExperience" placeholder="experienta" required>
                </div>
                <input id="registerSubmit" type="submit" name="submitAddGuide" class="btn btn-success btn-block" value="Adauga ghid">
                <a href="/admin/guides/" class="btn btn-info btn-block">Toti ghizii </a>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 header-coll"></div>
        </div>
    </form>
</div>
{% endblock %}
{% block bottomContainer %}
{% endblock %}