{% set pageTitle="Admin" %}
{% extends "adminLayout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block topContainer %}
    {{parent()}}
{% endblock %}
{% block middleContainer %}
<div class="middle-cointainer">
    <div class="row">
        <div class="col-md-3 col-sm-2 col-xs-12 header-coll"></div>
        <div class="col-md-6 col-sm-2 col-xs-12 header-coll"></div>
        <div class="col-md-3 col-sm-4 col-xs-12 header-coll"></div>
    </div>
</div>
{% endblock %}
{% block bottomContainer %}
{% endblock %}