{% set title="Toti ghizii" %}
{% extends "adminLayout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block topContainer %}
    {{parent()}}
{% endblock %}
{% block middleContainer %}
<div class="middle-cointainer">
    <form action="/admin/guides/" method="post">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12 header-coll"></div>
            <div class="col-md-8 col-sm-2 col-xs-12 header-coll">
                    <div class="action-button">
                        <a class="btn btn-success" href="/admin/guide/add/">Adauga ghid</a>
                    </div>
                        <table class="table table-sm">
                            <thead class="thead-dark">
                            <tr align="center">
                                <th scope="col">#</th>
                                <th scope="col">Nume</th>
                                <th scope="col">Prenume</th>
                                <th scope="col">Ani experienta</th>
                                <th scope="col">Oras</th>
                                <th scope="col">Actiuni</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for guide in allGuides %}
                            <tr>
                                <th scope="row">{{guide.guide_id}}</th>
                                <td align="center">{{guide.first_name}}</td>
                                <td align="center">{{guide.second_name}}</td>
                                <td align="center">{{guide.years_of_experience}}</td>
                                <td align="center">{{guide.city}}</td>
                                <td align="center">
                                    <button class="btn btn-danger" type="submit" name="deleteGuideId" value="{{ guide.guide_id }}">Elimina ghid</button>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
            <div class="col-md-2 col-sm-2 col-xs-12 header-coll"></div>
        </div>
    </form>
</div>
{% endblock %}
{% block bottomContainer %}
{% endblock %}