{% set title="Toate calatoriile" %}
{% extends "adminLayout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block topContainer %}
    {{parent()}}
{% endblock %}
{% block middleContainer %}
<div class="middle-cointainer">
    <form action="/admin/trips/" method="post">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12 header-coll"></div>
            <div class="col-md-8 col-sm-2 col-xs-12 header-coll">
                <div class="btn-group">
                <div class="dropdown btn-group action-button">
                    <button class="btn btn-info dropdown-toggle btn-md" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sorteaza dupa
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <button class="btn btn-secondary btn-block" type="submit" name="submit" value="locationAscending">locatie - crescator</button>
                        <button class="btn btn-secondary btn-block" type="submit" name="submit" value="locationDescending">locatie - descrescator</button>
                        <button class="btn btn-secondary btn-block" type="submit" name="submit" value="startDateAscending">data inceput - crescator</button>
                        <button class="btn btn-secondary btn-block" type="submit" name="submit" value="startDateDescending">data inceput - descrescator</button>
                    </div>
                </div>
                <div class="action-button">
                    <a class="btn btn-success btn-block" href="/admin/trip/add/">Adauga ascensiune</a>
                </div>
                </div>
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr align="center">
                        <th scope="col">#</th>
                        <th scope="col">Locatie</th>
                        <th scope="col">Altitudine</th>
                        <th scope="col">Data inceput</th>
                        <th scope="col">Data sfarsit</th>
                        <th scope="col">Locuri disponibile</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actiuni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for trip in allTrips %}
                    <tr>
                        <th scope="row">{{trip.trip_id}}</th>
                        <td align="center">{{trip.location}}</td>
                        <td align="center">{{trip.altitude}}</td>
                        <td align="center">{{trip.start_date}}</td>
                        <td align="center">{{trip.end_date}}</td>
                        <td align="center">{{trip.locuri_disponibile}}</td>
                        <td align="center">{{trip.status}}</td>
                        <td align="center">
                            <button class="btn btn-danger" type="submit" name="deleteTripId" value="{{ trip.trip_id }}">Sterge ascensiune</button>
                            <button class="btn btn-success" type="submit" name="setFinalizedTripId" value="{{ trip.trip_id }}">Seteaza ca finalizata</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 header-coll"></div>
        </div>
    </form>
</div>
{% endblock %}
{% block bottomContainer %}
{% endblock %}