{% set title="Medaliile mele" %}
{% extends "userLayout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block topContainer %}
    {{parent()}}
{% endblock %}
{% block middleContainer %}
<div class="middle-cointainer">
    <form action="/user/medals/" method="post">
        <div class="row">
            <div class="col-md-3 col-sm-2 col-xs-12 header-coll"></div>
            <div class="col-md-6 col-sm-2 col-xs-12 header-coll middle-cointainer-all-medals">
                <div class="dropdown btn-group all-medals-button">
                    <button class="btn btn-info dropdown-toggle btn-lg" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Medalii disponibile
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for medal in allMedals %}
                        <a class="dropdown-item" href="#">{{medal.name}} ({{medal.altitude}})</a>
                        {% endfor %}
                    </div>
                </div>

                <h3> Ai obtinut urmatoarele medalii: </h3>
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr align="center">
                        <th scope="col">#</th>
                        <th scope="col">Locatie</th>
                        <th scope="col">Altitudine</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for myMedal in userMedals %}
                    <tr>
                        <th scope="row">{{myMedal.medal_id}}</th>
                        <td align="center">{{myMedal.location}}</td>
                        <td align="center">{{myMedal.altitude}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="col-md-3 col-sm-4 col-xs-12 header-coll"></div>
        </div>
    </form>
</div>
{% endblock %}
{% block bottomContainer %}
{% endblock %}
