{% set title="User" %}
{% extends "userLayout.html" %}
{% block head %}
    {{parent()}}
{% endblock %}
{% block topContainer %}
    {{parent()}}
{% endblock %}
{% block middleContainer %}
        <div class="middle-cointainer">
            <form action="/user/mytrips/" method="post">
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-12 header-coll"></div>
                    <div class="col-md-6 col-sm-2 col-xs-12 header-coll">
                        {% for trip in allTrips %}
                        <div class="card trip-container">
                            <h5 class="card-header header-of-card">{{ trip.location }}</h5>
                            <div class="card-body body-of-card">
                                <h5 class="card-title">Data plecare: {{ trip.start_date }}</h5>
                                <h5 class="card-title">Data intoarcere: {{ trip.end_date }}</h5>
                                <p class="card-text">Altitudine: {{ trip.altitude }}</p>
                                <p class="card-text">Locuri disponibiles: {{ trip.locuri_disponibile }}</p>
                            </div>
                            <button class="btn btn-success" type="submit" name="registerForTripId" value="{{ trip.trip_id }}">Inscrie-te</button>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12 header-coll"></div>
                </div>
            </form>
        </div>
        <div class="bottom-container">
            <div class="row">
                <div class="col-md-3 col-sm-2 col-xs-12 header-coll"></div>
                <div class="col-md-6 col-sm-2 col-xs-12 header-coll"></div>
                <div class="col-md-3 col-sm-4 col-xs-12 header-coll"></div>
            </div>
        </div>
{% endblock %}

